/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

div.container{
    margin: 0px 40px;

}

.fill-remaining-space{
    flex: 1 1 auto;
}
form.normal-form{
    margin: 10px;
}
.controles-container{
    width: 100%;
    padding: 5%;
}
.controles-container > *{
    width: 100%;
}
.add-bottom-padding{
    padding-bottom: 10px;
}
mat-radio-group mat-radio-button{
    margin-left: 5px;
}
.button-row button{
    margin: 5px;
}

snack-Bar-container.success{
    background-color: green;
    color: white;
}
snack-Bar-container.notification simple-snack-bar{
    font-size: 10px time-new-roman;
    font-weight: bold;
}

.hide{
    display: none;
}
mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}
.search-div{
    margin: 10px;
}
.search-form-field{
    width: 60%;
    margin-left: 10px;
    padding: 5px 10px;
    background-color: whitesmoke;
    border-radius:5px;
}
.search-form-field div.mat-form-field-underline{
    display: none;
}
.search-form-field div.mat-form-field-infix{
    border-bottom: 0px;
}
.search-form-field div.mat-form-field-wrapper{
    padding-bottom: 0px;
}
.search-form-field div.mat-form-field-suffix button{
    height: 32px;
    width: 32px;
}

.btn-dialog-clos{
    width: 45px;
    min-width: 0px; 
    height: 40px;
    padding: 0px 1important;
}
.confirm-dialog-container .mat-dialog-container{
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.confirm-dialog-container .content-container{
    margin: 5px 5px 15px 5px;
    color: #8f9cb5;
    display: flex;
}

.confirm-dialog-container #close-icon{
    margin-left: auto;
    order: 2;
    font-weight: bolder;
}